.container {
	position: absolute; /* position the container absolutely */
	top: 50%; /* move it 50% from the top */
	left: 50%; /* move it 50% from the left */
	transform: translate(-50%, -50%); /* adjust for the container's own width and height */
	text-align: center; /* center the content horizontally */
  }
  
  body {
	font-family: impact, fantasy;
	color: darkorchid;
	margin: 0; /* remove default margin */
	height: 100vh; /* set the body height to the full viewport height */
	font-size: 50px;
  }
  
  #passcode {
	width: 350px;
	height: 100px;
	font-size: 29px;
	color: #ffdff9;
	padding: 10px;
	background-color: #ddb6e64e;
	border: 1px solid #ffdff9;
  }
  
  #submit {
	background-color: plum;
	color: #fff;
	font: italic;
	font-size: 30px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 400px;
	height: 100px;
	margin: 50px;
  }
  
  #result {
	color: rgb(134, 2, 2);
	font-size: 18px;
	margin-top: 20px;
  }

  